.card {
	max-width: 45%;
	min-width: 45%;
	margin: 10px;
	min-height: 180px;
	display: flex;
	cursor: pointer;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}

a {
	color: black;
}

a:hover {
	color: ;
	text-decoration: none;
}
