.navbar a {
	color: #ffffff;
	padding-left: 10px;
	text-decoration: none;
}

.navbar {
	background-color: #343a40;
	flex-direction: column;
	display: flex;
	height: 45px;
}

.navbarItems {
	width: 80%;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}

.navbarBrand {
	text-align: left;
	white-space: nowrap;
}

.navbarLinks a {
	padding-left: 30px;
}
